/* Shared spinner styling */
.bt-spinner {
  text-indent: -9999px;
  border-radius: 50%;
  transform: translateZ(0);
}

/* Wheel spinner styling */
.bt-spinner.spinner-wheel {
  margin: 15px auto;
  width: 200px;
  height: 200px;
  border: 16px solid #AAAAAA;
  border-bottom-color: rgba(0,0,0,0) !important;
  animation: bt-spinner-rotate 1s infinite linear;
}

/* Dots spinner styling */
.bt-spinner.spinner-dots {
  color: #AAAAAA;
  margin: 111px auto;
  width: 32px;
  height: 32px;
  position: relative;
  animation: bt-spinner-dots 1.1s infinite linear;
}

@keyframes bt-spinner-dots {
  0%, 100% {
    box-shadow: 88px 0 0 0, 62px -62px 0 -2px, 0 -88px 0 -4px, -62px -62px 0 -6px, -88px 0 0 -8px, -62px 62px 0 -10px, 0 88px 0 -12px, 62px 62px 0 -14px;
  }
  12.5% {
    box-shadow: 88px 0 0 -2px, 62px -62px 0 -4px, 0 -88px 0 -6px, -62px -62px 0 -8px, -88px 0 0 -10px, -62px 62px 0 -12px, 0 88px 0 -14px, 62px 62px 0 0;
  }
  25% {
    box-shadow: 88px 0 0 -4px, 62px -62px 0 -6px, 0 -88px 0 -8px, -62px -62px 0 -10px, -88px 0 0 -12px, -62px 62px 0 -14px, 0 88px 0 0, 62px 62px 0 -2px;
  }
  37.5% {
    box-shadow: 88px 0 0 -6px, 62px -62px 0 -8px, 0 -88px 0 -10px, -62px -62px 0 -12px, -88px 0 0 -14px, -62px 62px 0 0, 0 88px 0 -2px, 62px 62px 0 -4px;
  }
  50% {
    box-shadow: 88px 0 0 -8px, 62px -62px 0 -10px, 0 -88px 0 -12px, -62px -62px 0 -14px, -88px 0 0 0, -62px 62px 0 -2px, 0 88px 0 -4px, 62px 62px 0 -6px;
  }
  62.5% {
    box-shadow: 88px 0 0 -10px, 62px -62px 0 -12px, 0 -88px 0 -14px, -62px -62px 0 0, -88px 0 0 -2px, -62px 62px 0 -4px, 0 88px 0 -6px, 62px 62px 0 -8px;
  }
  75% {
    box-shadow: 88px 0 0 -12px, 62px -62px 0 -14px, 0 -88px 0 0, -62px -62px 0 -2px, -88px 0 0 -4px, -62px 62px 0 -6px, 0 88px 0 -8px, 62px 62px 0 -10px;
  }
  87.5% {
    box-shadow: 88px 0 0 -14px, 62px -62px 0 0, 0 -88px 0 -2px, -62px -62px 0 -4px, -88px 0 0 -6px, -62px 62px 0 -8px, 0 88px 0 -10px, 62px 62px 0 -12px;
  }
}

/* Streak spinner styling */
.bt-spinner.spinner-streak {
  margin: 15px auto;
  width: 200px;
  height: 200px;
  border: 15px solid #AAAAAA;
  border-width: 7px 0 0 0;
  animation: bt-spinner-rotate 1.2s infinite linear;
}

@keyframes bt-spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
